# Dependencias
node_modules/

# Compilación
dist/

# Variables de entorno locales
.env
.env.*
!.env.example

# Registros
*.log
npm-debug.log*

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
